<div class="container mt-2">
  <blockquote class="blockquote ml-5">
    <h2 class="text-primary">Good Food Holdings</h2>
    <footer class="blockquote-footer">
      Using line table editing with <i>Angular 8, Asp.Net Core</i> And
      <i>SignalR</i>
    </footer>
  </blockquote>

  <div class="food-filter-conatiner">
    <div class="text-center mt-3 mb-2 ">
      <h3>Showing total of {{ pagination.totalItems }} food items</h3>
    </div>

    <form
      class="form-inline filter-status"
      #filterForm="ngForm"
      (ngSubmit)="loadFood()"
      novalidate
    >
      <div class="form-group">
        <label for="minAge">Name Starts with</label>
        <input
          type="text"
          class="form-control ml-1"
          style="width: 130px"
          id="nameStarts"
          name="nameStarts"
          [(ngModel)]="userParams.nameStartsWith"
        />
      </div>

      <div class="form-group px-2">
        <label for="category">Category: </label>
        <select
          class="form-control ml-1"
          [(ngModel)]="userParams.category"
          style="width: 150px"
          id="category"
          name="category"
        >
          <option value="0">All</option>
          <option *ngFor="let c of categories" [value]="c.id">
            {{ c.value }}
          </option>
        </select>
      </div>
      <button type="submit" class="btn btn-primary" style="margin-left:10px">
        Apply Filters
      </button>
      <button
        type="button"
        (click)="resetFilters()"
        class="btn btn-info"
        style="margin-left:10px"
      >
        Reset Filter
      </button>

      <div class="col">

        <div class="btn-group">
          <label class="btn btn-primary" [(ngModel)]="userParams.orderBy" name="orderBy" (click)="loadFood()"
                 btnRadio="name" tabindex="0" role="button">Name</label>

          <label class="btn btn-primary" [(ngModel)]="userParams.orderBy" name="orderBy" (click)="loadFood()"
                 btnRadio="ingrident1" tabindex="0" role="button">Ingrident 1</label>
        </div>

          <!-- <button
            type="button"
            [(ngModel)]="userParams.orderBy"
            (click)="loadFood()"
            name="orderBy"
            class="btn btn-primary"
            [btnRadio]="name"
          >
            Name
          </button>
          <button
            type="button"
            [(ngModel)]="userParams.orderBy"
            (click)="loadFood()"
            name="orderBy"
            class="btn btn-primary"
            [btnRadio]="ingrident1"
          >
            Ingrident 1
          </button> -->
        
      </div>
    </form>
  </div>

  <div class="grid-table">
    <div class="thead">
      <div class="tr">
        <div class="td">Name</div>
        <div class="td">Category</div>
        <div class="td">Ingrident 1</div>
        <div class="td">Ingrident 2</div>
        <div class="td">Ingrident 3</div>
        <div class="td">Ingrident 4</div>
        <div class="td">Ingrident 5</div>
        <div class="td">Ingrident 6</div>

        <div class="td">
          <button class="btn btn-outline-success" (click)="addFood()">
            <div class="btn-wrapper">
              <i class="fa fa-plus"></i> <span>New Food</span>
            </div>
          </button>
        </div>
        <div class="td">
          <span *ngIf="notification" class="elementToFadeInAndOut">
            <i class="fas fa-check-circle {{ notification.class }}"></i>
            {{ notification.message }}
          </span>
        </div>
      </div>
    </div>
    <div class="tbody">
      <form
        class="tr"
        [formGroup]="fg"
        *ngFor="let fg of foodForm.controls; let i = index"
        (submit)="recordSubmit(fg)"
      >
        <div class="td">
          <input
            class="form-control"
            formControlName="name"
            placeholder="Name"
          />
        </div>
        <div class="td" style="width: 150px">
          <select class="form-control" formControlName="category">
            <option value="0">Select</option>
            <option *ngFor="let item of categories" value="{{ item.id }}">
              {{ item.value }}
            </option>
          </select>
        </div>
        <div class="td">
          <input class="form-control" formControlName="ingrident1" />
        </div>
        <div class="td">
          <input class="form-control" formControlName="ingrident2" />
        </div>
        <div class="td">
          <input class="form-control" formControlName="ingrident3" />
        </div>
        <div class="td">
          <input class="form-control" formControlName="ingrident4" />
        </div>
        <div class="td">
          <input class="form-control" formControlName="ingrident5" />
        </div>
        <div class="td">
          <input class="form-control" formControlName="ingrident6" />
        </div>

        <div class="td">
          <div class="action-buttons-wrapper">
            <button
              type="submit"
              class="btn"
              [disabled]="fg.invalid || fg.get('message').value == 'editing'"
              [ngClass]="
                fg.get('id').value == ''
                  ? 'btn-success'
                  : !fg.get('editMode').value
                  ? 'btn-outline-primary'
                  : 'btn-outline-dark'
              "
            >
              <div class="btn-wrapper">
                <i class="far fa-save fa-lg"></i>
                <span>
                  {{
                    fg.get("id").value == ""
                      ? "Submit"
                      : !fg.get("editMode").value
                      ? "Edit"
                      : "Update"
                  }}
                </span>
              </div>
            </button>
            <button
              type="button"
              class="btn btn-light ml-1"
              (click)="onDelete(fg.get('id').value, i)"
            >
              <div class="btn-wrapper">
                <i class="far fa-trash-alt fa-lg text-danger"></i>
              </div>
            </button>
          </div>
        </div>
        <div class="td" *ngIf="fg.get('message').value == 'editing'">
          <i class="fa fa-lock" aria-hidden="true"></i>
        </div>
      </form>
    </div>
  </div>
  <div class="d-flex">
    <pagination
      [boundaryLinks]="true"
      [totalItems]="pagination.totalItems"
      [itemsPerPage]="pagination.itemsPerPage"
      [(ngModel)]="pagination.currentPage"
      (pageChanged)="pageChanged($event)"
      previousText="&lsaquo;"
      nextText="&rsaquo;"
      firstText="&laquo;"
      lastText="&raquo;"
    >
    </pagination>
  </div>
</div>
