
  <div class="grid-table">
    <ag-grid-angular
      *ngIf="rowData && columnDefs"
      #myGrid
      style="width: 100%; height: 500px;"
      class="ag-theme-balham"
      (gridReady)="onGridReady($event)"
      [rowData]="rowData"
      [columnDefs]="columnDefs"
      [defaultColDef]="defaultColDef"
      (cellEditingStarted)="onCellEditingStarted($event)"
      (cellEditingStopped)="onCellEditingStoped($event)"
      
    >
    </ag-grid-angular>
    <button (click)="onBtWhich()">which ()</button>
    <button (click)="updateRow()">UpdateRow</button>
    <button (click)="updateCell()">UpdateCell</button>
    <button (click)="updateAllRow()">UpdateAllRow</button>
    <button (click)="clear()">Clear</button>
  </div>

 

